#page-container {
	align-self: center;
	width: 80%;
}

#title {
	color: #FF0000;
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
	text-align: center;
	size: 40em;
}

#menu {
	align-self: center;
}

.yonq {
	color: #FF0000;
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}